Test base
---------

Test comment
============

## The comment

Test set
========

\#set \$tmp = \$root.array
#set $tmp = $root.array
\#set \$tmp = \$tmp[0]
#set $tmp = $tmp[0]

Test print
==========

\$root.int:      $root.int
\$tmp:           $tmp
\$root.array[1]: $root.array[1]

Test loop
=========
#for $tmp in $root.array
$tmp
#end for

Test repeat
=========

#repeat 3
 - #slurp
#repeat 2
|#slurp
#end repeat

#end repeat

Test if
=======

#for $tmp in $root.array
#if $tmp(int) == 1
\$tmp(int) is 1 ($tmp)
#else
\$tmp(int) not 1 ($tmp)
#end if
#end for
