#import <stdio.h>
#silent char num[3];
#silent int i = 0;
#for $u in $root.users
## Manual print offset in loop. Can use _l0 too.
#silent snprintf(num,sizeof(num),"%02d",i++);
#echo num
 $u.name:x:$u.id:$u.id:,,,:/home:/bin/sh
.$u.name $u.name:x:$u.id:$u.id:,,,:/home:/bin/sh
=$u.id $u.name:x:$u.id:$u.id:,,,:/home:/bin/sh
#end for
